.principal__cuerpoHabilidades {
    background-color: $colorFondoPrincipal;
    padding-bottom: 2rem;
    
    .habilidades__solapa {
        display: flex;
        flex-direction: row;
        margin: 0 3rem 0 3rem;
        padding-top: 2rem;

        .solapa__contenedor {
            display: flex;
            flex-direction: row;
            @include niPaddingNiMargin(0,0);
            width: 100%;

            .solapa__listado {
                background-color: $colorFondoSeccion;
                display: flex;
                flex-direction: row;
                padding: 0.5rem 0.7rem;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 20%;
                align-items: center;

                &:hover {
                    background-color: $colorFondoMiniSeccion;
                    border-color: $colorVerdeDeMar;
                    transition: 2s;
                }

                .solapa__enlace {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .principal__habilidades {
        background-color: $colorFondoSeccion;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 3rem 0 3rem;
        padding: 1rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-height: 500px;

        .principal__solapa__habilidades {
            visibility: hidden;
            height: 0;
            width: 0;
        }

        .contenedor__habilidades__contenedor {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;

            .habilidades__contenedor {
                display: flex;
                border: solid 1px rgb(20, 20, 20);
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin: 0.5rem;
                background-color: $colorFondoMiniSeccion;
                border-radius: 10px;
                width: 400px;
                height: 200px;

                &:hover {
                    background-color: $colorFondoMiniMiniSeccion;
                    transition: 2s;
                    border-color: $colorVerdeDeMar;
                }

                .contenedor__skills {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem;
                    height: 200px;

                    .contenedor__imagen {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;

                        .habilidades__imagen {
                            width: 100px;
                        }
                    }

                    .contenedor__texto {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        padding: 5px;

                        .habilidades__texto {
                            color: white;
                            align-items: center;
                            margin: 0;
                        }
                    }
                }

                .contenedor__nivel {
                    padding: 0.5rem;
                    color: rgb(146, 146, 146);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 200px;

                    .nivel__estado {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;

                        .nivel__imagen {
                            width: 120px;
                        }
                    }

                    .nivel__aclaracion {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding: 5px;
                        padding-top: 0;
                        color: white;
                        width: 170px;

                        .texto__aclaracion {
                            @include niPaddingNiMargin(0, 0);
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}