@media (max-width:780px) {
    .principal {
        .principal__error {
            padding: 1rem;

            .error__imagen {
                width: 35%;
                padding: 0;
            }

            .error__texto {
                width: 65%;
            }
        }
    }
}

@media (max-width:575px) {
    .principal {
        .principal__error {
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-direction: column;
            width: 100%;

            .error__imagen {
                margin-top: 0;
                width: 100%;
                padding: 1rem;

                .imagen__archivo {
                    height: 150px;
                }
            }

            .error__texto {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: 0;
                padding: 1.5rem;

                .texto__parrafo {
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width:375px) {
    .principal {
        .principal__error {
            .error__imagen {
                .imagen__archivo {
                    height: 120px;
                }
            }

            .error__texto {
                .texto__parrafo {
                    width: 100%;
                    font-size: 12px;
                }
            }
        }
    }
}