.principal__cuerpoHabilidades {
    background-color: $colorFondoPrincipal;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;

    .habilidades__solapa {
        text-transform: uppercase;
        display: flex;
        align-items: start;
        margin: 1rem;
        width: 200px;
        background-color: $colorFondoSeccion;
        margin-bottom: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;


        &:hover {
            display: flex;

            .solapa__contenedor {
                display: flex;
                flex-direction: column;
            }
        }

        .solapa__etiqueta {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 1rem;
            align-items: center;
            height: 50px;
            justify-content: space-around;

            .solapa__texto {
                color: white;
                margin: 0;
            }

            .solapa__flecha {
                height: 20px;
            }

        }

        .solapa__contenedor {
            display: none;
            position: absolute;
            background-color: $colorFondoMiniSeccion;
            z-index: 1;
            margin: 0.8rem;
            margin-top: 3rem;
            padding: 0.5rem;
            border-radius: 10px;
            border: 1px solid black;
            width: 350px;
            font-family: Montserrat;

            .solapa__listado {
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                padding: 0.5rem 0.7rem;
                align-items: center;
                margin: 0.1rem;

                .solapa__enlace {
                    text-transform: uppercase;
                    color: white;
                    text-decoration: none;
                    display: flex;
                    margin: 0;
                }
            }
        }
    }

    .principal__habilidades {
        background-color: $colorFondoSeccion;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 1rem;
        padding: 1rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        min-height: 500px;

        .contenedor__habilidades__contenedor {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;

            .habilidades__contenedor {
                display: flex;
                border: solid 1px rgb(20, 20, 20);
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin: 0.5rem;
                background-color: $colorFondoMiniSeccion;
                border-radius: 10px;
                width: 400px;
                height: 200px;

                &:hover {
                    background-color: $colorFondoMiniMiniSeccion;
                    transition: 2s;
                    border-color: $colorVerdeDeMar;
                }

                .contenedor__skills {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem;
                    height: 200px;

                    .contenedor__imagen {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;

                        .habilidades__imagen {
                            width: 100px;
                        }
                    }

                    .contenedor__texto {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        padding: 5px;

                        .habilidades__texto {
                            color: white;
                            align-items: center;
                            margin: 0;
                        }
                    }
                }

                .contenedor__nivel {
                    padding: 0.5rem;
                    color: rgb(146, 146, 146);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 200px;

                    .nivel__estado {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;

                        .nivel__imagen {
                            width: 120px;
                        }
                    }

                    .nivel__aclaracion {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding: 5px;
                        padding-top: 0;
                        color: white;
                        width: 170px;

                        .texto__aclaracion {
                            @include niPaddingNiMargin(0, 0);
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}