$colorVerdeDeMar:rgb(3, 250, 110);
$colorFondoPrincipal:#0d0e09;
$colorFondoSeccion:#2e2e2e;
$colorFondoMiniSeccion:rgb(66, 66, 66);
$colorFondoMiniMiniSeccion:#636363;
$colorFondoMiniMiniMiniSeccion:#6b6b6b;
$textoEnElPrincipal: Montserrat;
$textoGeneral: Mukta;
                