$colorVerdeDeMar:rgb(3, 250, 110);
$colorFondoPrincipal:#171810;
$colorFondoSeccion:#363636;
$colorFondoMiniSeccion:rgb(83, 83, 83);
$colorFondoMiniMiniSeccion:#7c7c7c;
$colorFondoMiniMiniMiniSeccion:#979797;
$textoEnElPrincipal: Montserrat;
$textoGeneral: Mukta;
                