* {
  padding: 0;
  margin: 0;
  font-family: Mukta;
  box-sizing: border-box;
}

header {
  padding: 0;
  margin: 0;
  background-color: black;
  height: 64px;
}
header .encabezado {
  padding: 0;
  margin: 0;
  height: 100%;
}
header .encabezado .encabezado__abrir {
  display: none;
}
header .encabezado .encabezado__menu {
  padding: 0;
  margin: 0;
  height: 70%;
  display: flex;
  justify-content: end;
}
header .encabezado .encabezado__menu .menu__listado {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  list-style-type: none;
  gap: 1rem;
  text-align: center;
}
header .encabezado .encabezado__menu .menu__listado .listado__cerrar {
  display: none;
}
header .encabezado .encabezado__menu .menu__listado .listado__items {
  padding: 0;
  margin: 0;
  display: flex;
}
header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace {
  padding: 0;
  margin: 0;
  text-decoration: none;
  padding-top: 20px;
  font-size: 16px;
  width: 100%;
  color: white;
}
header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace:hover {
  color: rgb(3, 250, 110);
  transition: 2s;
}

@media (max-width: 950px) {
  header .encabezado {
    display: flex;
    justify-content: end;
  }
  header .encabezado .encabezado__abrir {
    display: block;
    border: none;
    padding-right: 17px;
    padding-top: 1px;
    background-color: black;
    width: 100px;
  }
  header .encabezado .encabezado__abrir .abrir__imagen {
    height: 50%;
    border: none;
  }
  header .encabezado .encabezado__menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 0.5rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
  }
  header .encabezado .encabezado__menu .menu__listado {
    flex-direction: column;
    align-items: start;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__cerrar {
    display: block;
    border: none;
    background-color: black;
    width: 100px;
    height: 64px;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__cerrar .cerrar__imagen {
    height: 32px;
    border: none;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace {
    font-size: 16px;
  }
  header .encabezado .encabezado__menu.visible {
    opacity: 1;
    visibility: visible;
  }
}
.principal {
  padding: 0;
  margin: 0;
  max-height: 520px;
}
.principal .principal__cuerpo {
  background-color: #171810;
  min-height: 500px;
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.principal .principal__cuerpo .cuerpo__logo {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.principal .principal__cuerpo .cuerpo__logo .logo__imagen {
  border: 1px solid white;
  height: 150px;
}
.principal .principal__cuerpo .cuerpo__logo .logo__imagen:hover {
  border: 1px solid rgb(3, 250, 110);
  transition: 1s;
}
.principal .principal__cuerpo .cuerpo__texto {
  margin: 2rem;
  width: 50%;
}
.principal .principal__cuerpo .cuerpo__texto .cuerpo__parrafo {
  color: grey;
  font-style: italic;
  font-family: Montserrat;
}
.principal .principal__cuerpo .cuerpo__texto .cuerpo__parrafo:hover {
  color: white;
  transition: 1s;
}

@media (max-width: 780px) {
  .principal .principal__cuerpo {
    padding: 1rem;
  }
  .principal .principal__cuerpo .cuerpo__logo {
    margin-top: 2rem;
  }
  .principal .cuerpo__texto {
    margin: 1rem;
  }
}
@media (max-width: 575px) {
  .principal .principal__cuerpo {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .principal .principal__cuerpo .cuerpo__logo {
    margin-top: 0;
    width: 100%;
  }
  .principal .principal__cuerpo .cuerpo__logo .logo__imagen {
    height: 150px;
  }
  .principal .principal__cuerpo .cuerpo__texto {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .principal .principal__cuerpo .cuerpo__texto .cuerpo__parrafo {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .principal .principal__cuerpo .cuerpo__logo .logo__imagen {
    height: 120px;
  }
  .principal .principal__cuerpo .cuerpo__texto .cuerpo__parrafo {
    width: 100%;
    font-size: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
