* {
  padding: 0;
  margin: 0;
  font-family: Mukta;
  box-sizing: border-box;
}

html, body {
  background-color: black;
  padding: 0;
  margin: 0;
  min-height: 700px;
}

.principal {
  padding: 0;
  margin: 0;
}

header {
  padding: 0;
  margin: 0;
  background-color: black;
  position: sticky;
  top: 0;
}
header .encabezado {
  padding: 0;
  margin: 0;
}
header .encabezado .encabezado__abrir {
  display: none;
}
header .encabezado .encabezado__menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
}
header .encabezado .encabezado__menu .menu__listado {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style-type: none;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
header .encabezado .encabezado__menu .menu__listado .listado__cerrar {
  display: none;
}
header .encabezado .encabezado__menu .menu__listado .listado__items {
  padding: 0;
  margin: 0;
  display: flex;
}
header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  color: white;
}
header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace:hover {
  color: rgb(3, 250, 110);
  transition: 2s;
}

@media (max-width: 950px) {
  header .encabezado {
    display: flex;
    justify-content: end;
  }
  header .encabezado .encabezado__abrir {
    display: block;
    border: none;
    background-color: black;
  }
  header .encabezado .encabezado__abrir .abrir__imagen {
    height: 60px;
    padding: 1rem;
    border: none;
  }
  header .encabezado .encabezado__menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    margin-top: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
  }
  header .encabezado .encabezado__menu .menu__listado {
    flex-direction: column;
    align-items: end;
    padding: 0;
    width: 100%;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__cerrar {
    display: block;
    border: none;
    background-color: black;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__cerrar .cerrar__imagen {
    height: 60px;
    border: none;
    padding: 1rem;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace {
    font-size: 16px;
    padding: 1rem;
  }
  header .encabezado .encabezado__menu.visible {
    opacity: 1;
    visibility: visible;
  }
}
.principal__cuerpo {
  background-color: #171810;
  display: flex;
  justify-content: start;
  padding: 2rem 1rem 0 1rem;
  min-height: 440px;
}
.principal__cuerpo .cuerpo__logo {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}
.principal__cuerpo .cuerpo__logo .logo__imagen {
  border: 1px solid white;
}
.principal__cuerpo .cuerpo__logo .logo__imagen:hover {
  border: 1px solid rgb(3, 250, 110);
  transition: 1s;
}
.principal__cuerpo .cuerpo__texto {
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.principal__cuerpo .cuerpo__texto .cuerpo__parrafo {
  color: grey;
  font-style: italic;
  font-family: Montserrat;
}
.principal__cuerpo .cuerpo__texto .cuerpo__parrafo:hover {
  color: white;
  transition: 1s;
}

@media (max-width: 780px) {
  .principal .principal__cuerpo {
    padding: 1rem;
  }
  .principal .principal__cuerpo .cuerpo__logo {
    width: 35%;
    padding: 0;
  }
  .principal .principal__cuerpo .cuerpo__texto {
    width: 65%;
  }
}
@media (max-width: 575px) {
  .principal .principal__cuerpo {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .principal .principal__cuerpo .cuerpo__logo {
    width: 100%;
    padding: 1rem;
  }
  .principal .principal__cuerpo .cuerpo__logo .logo__imagen {
    height: 150px;
  }
  .principal .principal__cuerpo .cuerpo__texto {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 1.5rem;
  }
  .principal .principal__cuerpo .cuerpo__texto .cuerpo__parrafo {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .principal .principal__cuerpo .cuerpo__logo .logo__imagen {
    height: 120px;
  }
  .principal .principal__cuerpo .cuerpo__texto .cuerpo__parrafo {
    width: 100%;
    font-size: 12px;
  }
}
.principal__error {
  background-color: #171810;
  display: flex;
  justify-content: start;
  flex-direction: row;
  padding: 3rem;
  min-height: 440px;
}
.principal__error .error__imagen {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}
.principal__error .error__imagen .imagen__archivo {
  height: 150px;
}
.principal__error .error__texto {
  width: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.principal__error .error__texto .texto__parrafo {
  color: grey;
  font-style: italic;
}
.principal__error .error__texto .texto__parrafo:hover {
  color: white;
  transition: 1s;
}

@media (max-width: 780px) {
  .principal .principal__error {
    padding: 1rem;
  }
  .principal .principal__error .error__imagen {
    width: 35%;
    padding: 0;
  }
  .principal .principal__error .error__texto {
    width: 65%;
  }
}
@media (max-width: 575px) {
  .principal .principal__error {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .principal .principal__error .error__imagen {
    margin-top: 0;
    width: 100%;
    padding: 1rem;
  }
  .principal .principal__error .error__imagen .imagen__archivo {
    height: 150px;
  }
  .principal .principal__error .error__texto {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 1.5rem;
  }
  .principal .principal__error .error__texto .texto__parrafo {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .principal .principal__error .error__imagen .imagen__archivo {
    height: 120px;
  }
  .principal .principal__error .error__texto .texto__parrafo {
    width: 100%;
    font-size: 12px;
  }
}
.principal__cuerpoHabilidades {
  background-color: #171810;
  padding-bottom: 2rem;
}
.principal__cuerpoHabilidades .habilidades__solapa {
  display: flex;
  flex-direction: row;
  margin: 0 3rem 0 3rem;
  padding-top: 2rem;
}
.principal__cuerpoHabilidades .habilidades__solapa .solapa__contenedor {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
}
.principal__cuerpoHabilidades .habilidades__solapa .solapa__contenedor .solapa__listado {
  background-color: #363636;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.7rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 20%;
  align-items: center;
}
.principal__cuerpoHabilidades .habilidades__solapa .solapa__contenedor .solapa__listado:hover {
  background-color: rgb(83, 83, 83);
  border-color: rgb(3, 250, 110);
  transition: 2s;
}
.principal__cuerpoHabilidades .habilidades__solapa .solapa__contenedor .solapa__listado .solapa__enlace {
  text-decoration: none;
  color: white;
}
.principal__cuerpoHabilidades .principal__habilidades {
  background-color: #363636;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 3rem 0 3rem;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 500px;
}
.principal__cuerpoHabilidades .principal__habilidades .principal__solapa__habilidades {
  visibility: hidden;
  height: 0;
  width: 0;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor {
  display: flex;
  border: solid 1px rgb(20, 20, 20);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5rem;
  background-color: rgb(83, 83, 83);
  border-radius: 10px;
  width: 400px;
  height: 200px;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor:hover {
  background-color: #7c7c7c;
  transition: 2s;
  border-color: rgb(3, 250, 110);
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 200px;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__skills .contenedor__imagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__skills .contenedor__imagen .habilidades__imagen {
  width: 100px;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__skills .contenedor__texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__skills .contenedor__texto .habilidades__texto {
  color: white;
  align-items: center;
  margin: 0;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__nivel {
  padding: 0.5rem;
  color: rgb(146, 146, 146);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__nivel .nivel__estado {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__nivel .nivel__estado .nivel__imagen {
  width: 120px;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__nivel .nivel__aclaracion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  padding-top: 0;
  color: white;
  width: 170px;
}
.principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__nivel .nivel__aclaracion .texto__aclaracion {
  padding: 0;
  margin: 0;
  text-align: center;
}

@media (max-width: 900px) {
  .principal__cuerpoHabilidades .habilidades__solapa {
    visibility: hidden;
    height: 0;
  }
  .principal__cuerpoHabilidades .principal__habilidades {
    justify-content: space-between;
    border-top-left-radius: 10px;
  }
  .principal__cuerpoHabilidades .principal__habilidades .principal__solapa__habilidades {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    visibility: visible;
    margin: 0.5rem;
  }
  .principal__cuerpoHabilidades .principal__habilidades .principal__solapa__habilidades .principal__solapa__contenedor {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .principal__cuerpoHabilidades .principal__habilidades .principal__solapa__habilidades .principal__solapa__contenedor .principal__solapa__listado {
    background-color: rgb(83, 83, 83);
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.7rem;
    border: solid 1px rgb(138, 138, 138);
    border-radius: 10px;
    margin-bottom: 3px;
  }
  .principal__cuerpoHabilidades .principal__habilidades .principal__solapa__habilidades .principal__solapa__contenedor .principal__solapa__listado:hover {
    background-color: #7c7c7c;
  }
  .principal__cuerpoHabilidades .principal__habilidades .principal__solapa__habilidades .principal__solapa__contenedor .principal__solapa__listado .principal__solapa__enlace {
    text-decoration: none;
    color: white;
  }
  .principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor {
    flex-direction: row;
    align-items: center;
  }
  .principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor {
    height: 200px;
    width: 176px;
  }
  .principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__skills {
    height: 100px;
  }
  .principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__skills .contenedor__imagen .habilidades__imagen {
    width: 50px;
  }
  .principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__nivel {
    height: 100px;
  }
  .principal__cuerpoHabilidades .principal__habilidades .contenedor__habilidades__contenedor .habilidades__contenedor .contenedor__nivel .nivel__estado .nivel__imagen {
    width: 50px;
  }
}
@media (max-width: 400px) {
  .principal__cuerpoHabilidades .principal__habilidades .principal__solapa__habilidades {
    min-height: 345px;
  }
}
.principal__servicios {
  display: flex;
  flex-direction: column;
  color: rgb(201, 201, 201);
  background-color: #171810;
  padding-bottom: 2rem;
}
.principal__servicios .servicios__apartado {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
  align-items: start;
  background-color: #363636;
  margin: 2rem 3rem 0 3rem;
  border-radius: 10px;
}
.principal__servicios .servicios__apartado .apartado__titulo {
  margin: 0 32px 0 0;
  padding: 1rem;
  width: 20%;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo {
  background-color: rgb(83, 83, 83);
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(20, 20, 20);
  border-radius: 10px;
  width: 80%;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo:hover {
  border-color: rgb(3, 250, 110);
  transition: 2s;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__descripcion {
  padding: 0 2.8rem;
  margin: 1rem 0 0 0;
  color: white;
  font-family: Montserrat;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listadoCabecera {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  margin: 0;
  justify-content: center;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listadoCabecera .bloqueDescriptivo__itemCabecera {
  width: 100%;
  display: flex;
  padding: 0.8rem;
  border: solid 1px rgb(20, 20, 20);
  border-radius: 10px;
  margin: 2px;
  background-color: #7c7c7c;
  align-items: center;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listadoCabecera .bloqueDescriptivo__itemCabecera:hover {
  border-color: rgb(3, 250, 110);
  background-color: #979797;
  transition: 2s;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listadoCabecera .bloqueDescriptivo__itemCabecera .itemCabecera__titulo {
  font-weight: bold;
  color: black;
  width: 20%;
  margin-right: 10px;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listadoCabecera .bloqueDescriptivo__itemCabecera .itemCabecera__parrafo {
  width: 80%;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listado {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  margin: 0;
  justify-content: space-between;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listado .bloqueDescriptivo__item {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  border: solid 1px rgb(20, 20, 20);
  border-radius: 10px;
  margin: 2px;
  background-color: #7c7c7c;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listado .bloqueDescriptivo__item:hover {
  border-color: rgb(3, 250, 110);
  background-color: #979797;
  transition: 2s;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listado .bloqueDescriptivo__item .item__titulo {
  color: whitesmoke;
  text-decoration: underline #979797;
}
.principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listado .bloqueDescriptivo__item .item__texto {
  margin: 0;
  color: white;
  font-family: Montserrat;
}

@media (max-width: 1200px) {
  .principal__servicios .servicios__apartado {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  .principal__servicios .servicios__apartado .apartado__titulo {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .principal__servicios .servicios__apartado .apartado__bloqueDescriptivo {
    width: 100%;
  }
  .principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listado {
    flex-direction: column;
  }
  .principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listadoCabecera .bloqueDescriptivo__itemCabecera {
    flex-direction: column;
  }
  .principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listadoCabecera .bloqueDescriptivo__itemCabecera .itemCabecera__titulo {
    width: auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .principal__servicios .servicios__apartado .apartado__bloqueDescriptivo .bloqueDescriptivo__listadoCabecera .bloqueDescriptivo__itemCabecera .itemCabecera__parrafo {
    width: auto;
  }
}
.pieDePagina .pieDePagina__redes {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: #363636;
}
.pieDePagina .pieDePagina__redes .redes__contenedores {
  margin: 0;
  padding: 4px;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace:hover {
  color: white;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .enlace__imagen, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .instagram, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .whatsapp, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .linkedin, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .facebook {
  height: 40px;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 100px;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .enlace__imagen:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .instagram:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .whatsapp:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .linkedin:hover, .pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .facebook:hover {
  transition: 1s;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .facebook:hover {
  border: 1px solid blue;
  background-color: blue;
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .linkedin:hover {
  border: 1px solid rgb(73, 73, 247);
  background-color: rgb(73, 73, 247);
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .whatsapp:hover {
  border: 1px solid rgb(78, 161, 23);
  background-color: rgb(78, 161, 23);
}
.pieDePagina .pieDePagina__redes .redes__contenedores .contenedores__enlace .instagram:hover {
  border: 1px solid rgb(192, 42, 160);
  background-color: rgb(192, 42, 160);
}
.pieDePagina .pieDePagina__derechos {
  background-color: black;
  margin: 0;
  color: rgb(146, 146, 146);
  text-align: center;
  padding: 0.7rem;
}
.pieDePagina .pieDePagina__derechos:hover {
  color: rgb(3, 250, 110);
  transition: 1s;
}

/*# sourceMappingURL=styles.css.map */
